{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
  "rules": {
    "no-undef": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "vars": "all", "args": "all", "argsIgnorePattern": "^_" }],
    "no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true }],
    "eqeqeq": ["error", "always", { "null": "ignore" }],
    "no-empty": "warn",
    "no-cond-assign": ["error", "always"]
  }
}
